# Python
__pycache__/
*.py[cod]
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.vscode/
backend/then/
backend/.venv/
backend/venv/
frontend/app/.venv/

# Node
node_modules/
dist/
frontend/app/dist/
frontend/app/.vite/

# General
.DS_Store
Thumbs.db